.sectionTitle {
  color: var(--mantine-color-text);
}

.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.avatar {
  border: 4px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.editButton {
  width: fit-content;
}

@media (max-width: 768px) {
  .avatarSection {
    margin-bottom: 24px;
  }
}
