.userCard {
  cursor: pointer;

  &.selected {
    background-color: light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-5)
    );
  }

  .userName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12rem;
  }
}

.avatarContainer {
  position: relative;
}

.avatarOnlineIndicator {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--mantine-color-green-light-color);
  box-shadow: var(--mantine-shadow-xs);

  &[data-online="false"] {
    display: none;
  }
}
