.container {
  height: calc(100vh - 56px);
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100%;
  box-shadow: var(--mantine-shadow-sm);
  background-color: var(--mantine-color-dark-6);
}

.main {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  overflow-y: scroll;
}
