.container {
  padding: 0;
}

.sectionTitle {
  margin-bottom: 16px;
  padding: 0 var(--mantine-spacing-md);
  font-weight: 600;
  position: relative;
  color: var(--mantine-color-text);

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: var(--mantine-spacing-md);
    width: 60px;
    height: 3px;
    background-color: var(--mantine-primary-color-filled);
  }
}
